.title {
   font-size:30px;
}

.company-name { 
   text-align: center; 
   font-size:50px;
   margin: 0;
}

.directions { 
   text-align: center;
   font-size:50px;
}

.transport-company {
   border-bottom: solid 2px"
}
