@import url('https://fonts.googleapis.com/css?family=BioRhyme+Expanded');

#index {
  padding-left: 50px;
}

.title {
  font-size: 30px;
  margin-left: 90px;
  font-weight: bold;
  margin-bottom: 20px;
}

.company-name {
  text-align: center;
  font-size: 50px;
  margin: 0;
}

.directions {
  text-align: center;
  font-size: 50px;
}

.transport-company {
  border-bottom: solid 2px;
}

.item {
  display: inline-block;
}

.right-line {
  margin-left: 10px;
  width: 650px;
  height: 30px;
  font-weight: bold;
  border: solid 3px #000000;
  display: inline-block;
}



.right-box {
  margin-left: 10px;
  width: 650px;
  height: 110px;
  font-weight: bold;
  border: solid 3px #000000;
  display: inline-block;
}

#loader-bg {
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  background: #000;
  z-index: 1;
}
#loader {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  width: 200px;
  height: 200px;
  margin-top: -100px;
  margin-left: -100px;
  text-align: center;
  color: #fff;
  z-index: 2;
}

label {
  vertical-align: top;
  }
 
.form {
  margin-left: 50px;
  line-height: 30px;
}

/*addresses */

.font{
  font-family: 'Noto Sans JP', sans-serif;
}

.new {
   font-size: 25px;
}
.list {
   font-size: 25px;
   padding-bottom: 0;
   margin-bottom: 0;
}

.addresses {
  margin-top: 0;
  font-size: 18px;
}

