@import url('https://fonts.googleapis.com/css?family=BioRhyme+Expanded');

#index {
  padding-left: 50px;
}

.title {
  font-size: 30px;
  margin-left: 90px;
  font-weight: bold;
  margin-bottom: 10px;
}

/** PDF **/
.company-name {
  text-align: center;
  font-size: 40px;
  margin: 0;
}

.directions {
  text-align: center;
  font-size: 30px;
}

.transport-company {
  border-bottom: solid 2px;
  font-size: 25px;
}

/*項目*/
.item {
   margin-bottom:0;
}

.line {
  margin-top:0;
  width: 650px;
  height: 30px;
  font-weight: bold;
  border: solid 3px #000000;
}

.box {
  position: relative;
  margin: 2em 0;
  padding: 0.5em 1em;
  border: solid 3px #000;
  width:550px;
  margin-left:auto;
  margin-right:auto;
}
.box-large {
  position: relative;
  margin: 2em 0;
  padding: 0.5em 1em;
  border: solid 3px #000;
  height: 60px;
  width:550px;
  margin-left:auto;
  margin-right:auto;
}

.box .box-title {
  position: absolute;
  display: inline-block;
  top: -27px;
  left: -3px;
  padding: 0 9px;
  height: 25px;
  line-height: 25px;
  font-size: 17px;
  background: #000000;
  color: #ffffff;
  font-weight: bold;
  border-radius: 5px 5px 0 0;
}
.box p {
  margin: 0; 
  padding: 0;
}

.box-large .box-title {
  position: absolute;
  display: inline-block;
  top: -27px;
  left: -3px;
  padding: 0 9px;
  height: 25px;
  line-height: 25px;
  font-size: 17px;
  background: #000000;
  color: #ffffff;
  font-weight: bold;
  border-radius: 5px 5px 0 0;
}
.box-large p {
  margin: 0; 
  padding: 0;
}

.side {
  width:290px;
  float: left;
}
.side-right {
  width:290px;
  float: right;
}
.sign {
  text-align: right;
}

/* 入力フォーム */
label {
  vertical-align: top;
  }
 
.form {
  margin-left: 50px;
  line-height: 30px;
}

textarea {
    vertical-align:text-top;
    text-align: left;
}

.submit_button {
font-size: 1.4em;
font-weight: bold;
padding: 10px 30px;
background-color: #248;
color: #fff;
border-style: none;
}

#loader-bg {
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  background: #000;
  z-index: 1;
}
#loader {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  width: 200px;
  height: 200px;
  margin-top: -100px;
  margin-left: -100px;
  text-align: center;
  color: #fff;
  z-index: 2;
}


/*addresses */

.font{
  font-family: 'Noto Sans JP', sans-serif;
}

.new {
   font-size: 25px;
}
.list {
   font-size: 25px;
   padding-bottom: 0;
   margin-bottom: 0;
}

.addresses {
  margin-top: 0;
  font-size: 18px;
}

